<div class="field">
  <h1>Sign In</h1>

  <p class="displayinfo">
    No account yet? Feel free to <%= link_to "sign up", signup_path, :class => "overridea" %>
  </p>

  <%= form_with(url: session_path, local: true, class: "specialform") do |f| %>
    <%= f.label :email_or_username, class: "formlabel" %>
    <%= f.text_field :email_or_username, autofocus: true, required: true, class: "formfield" %>

    <%= f.label :password, class: "formlabel" %>
    <%= f.password_field :password, required: true, class: "formfield" %>

    <%= f.submit "Sign In", class: "specialbutton" %>
  <% end %>
</div>
