<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any?  %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <% if current_user %>
      <h1>Edit Account</h1>
    <% else %>
      <h1>Sign Up</h1>
    <% end %>

    <%= f.label :name, class: "formlabel" %>
    <%= f.text_field :name, autofocus: true, class: "formfield" %>

    <%= f.label :email, class: "formlabel"  %>
    <%= f.email_field :email, class: "formfield" %>

    <%= f.label :username, class: "formlabel"  %>
    <%= f.text_field :username, placeholder: "Alphanumeric characters only", class: "formfield" %>

    <%= f.label :password, class: "formlabel"  %>
    <%= f.password_field :password, class: "formfield" %>

    <%= f.label :password_confirmation, "Confirm Password", class: "formlabel"  %>
    <%= f.password_field :password_confirmation, class: "formfield" %>

    <div class="actions">
      <% if user.new_record? %>
        <%= f.submit "Create Account", class: "button" %>
      <% else %>
        <%= f.submit "Update Account", class: "button" %>
      <% end %>
      </div>
  </div>
<% end %>
