<section>
  <h1>User Account Information</h1>
  <p><h4>Name: </h4><%= @user.name %></p>
  <p><h4>Email: </h4><%= mail_to(@user.email) %></p>
  <p><h4>User Name: </h4><%= @user.username %></p>

  <% if current_user?(@user) %>
    <div class="actions">
      <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
      <%= link_to "Delete Account", @user, method: :delete,
                  data: { confirm: "Permanently delete your account?" },
                  class: "button delete" %>
    </div>
  <% end %>

  <%= link_to "Characters", characters_path, class: "button" %>
</section>
