<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<div class="card-container">
  <% if @characters.any? %>
    <% @characters.each do |character| %>
      <div class="card-body">
        <p class="card-image"><img src="https://picsum.photos/200"></p>
        <%= character.name %>
        <% if current_user_admin? %>
          <p>
            User: <%= character.user.name %>
          </p>
        <% end %>
        <p class="card-info">more information in this tag<br>and then theres more<br>perhaps a bit more</p>
        <%= link_to '<button type="button" class="button">Show</button>'.html_safe, character, :method => "get" %>
        <%= link_to '<button type="button" class="button">Edit</button>'.html_safe, edit_character_path(character), :method => "get" %>
        <%= link_to '<button type="button" class="button">Delete</button>'.html_safe, character, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% elsif current_user %>
    <p>
      It appears you haven't made any characters yet.
      You can create your first character by clicking on New Character
    </p>
  <% else %>
    <p>
      It appears you're not signed in. Please sign in to create characters
    </p>
  <% end %>
</div>
<br>

<%= link_to 'New Character', new_character_path, :class => "button" %>
