<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<div class="card-container">
  <% if @characters.any? %>
    <% @characters.each do |character| %>
      <div class="card-body">
        <p class="card-image"><img src="https://picsum.photos/200"></p>
        <%= character.name %>
        <% if current_user_admin? %>
          <p>
            User: <%= character.user.name %>
          </p>
        <% end %>
        <p class="card-info">more information in this tag<br>and then theres more<br>perhaps a bit more</p>
        <div class="button-container">
          <%= link_to 'Show', character, :method => "get", :class => "card-button" %>
          <%= link_to 'Edit', edit_character_path(character), :method => "get", :class => "card-button" %>
          <%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' }, :class => "card-button" %>
        </div>
      </div>
    <% end %>
  <% elsif current_user %>
    <p>
      It appears you haven't made any characters yet.
      You can create your first character by clicking on New Character
    </p>
  <% else %>
    <p>
      It appears you're not signed in. Please sign in to create characters
    </p>
  <% end %>
</div>
