<header class = "navbar">
  <nav>
    <ul>
      <li class="navitem">CharGen</li>
      <% if current_user %>
        <li><%= link_to 'New Character', new_character_path, class: "navitem" %></li>
        <li><%= link_to "Existing Characters", characters_path, class: "navitem"%></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">User Profile</a>
            <div class="dropdown-content">
              <%= link_to current_user.name, current_user, class: "navitem" %>
              <%= link_to "Account Settings", edit_user_path(current_user), class: "navitem" %>
              <%= link_to "Sign Out", session_path, method: :delete, class: "navitem" %>
            </div>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", signin_path, class: "navitem" %>
        </li>
        <li>
          <%= link_to "Sign Up", signup_path, class: "navitem" %>
        </li>
      <% end %>
    </div>
  </nav>
</header>
